# In class exercises - Intro to Pandas Series and DataFrames

## Import libs

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# get and store current file path for file i/o later on in tutorial
import os
cwd = os.getcwd()

## First import 'response_time_data.csv' data file
* Contains RTs from 800 trials of a simple detection task from each of 20 subjects
* Organizing into a DataFrame and then saved out in csv format
* The index (row) and column labels are encoded in the csv file, so you'll need to read those in explcitly
* Make sure to have a look at the DataFrame - use the df.head() function

In [3]:
file_name = cwd + '/response_time_data.csv'

df = pd.read_csv(file_path, index_col=0, header=0)
print(type(df))
# print(df)
print()
df.head()

,Sub0,Sub1,Sub2,Sub3,Sub4,Sub5,Sub6,Sub7,Sub8,Sub9,Sub10,Sub11,Sub12,Sub13,Sub14,Sub15,Sub16,Sub17,Sub18,Sub19
Tri0,2797.224240,1039.571212,4045.345952,3530.934210,2410.276348,6541.494156,1977.919842,2343.555594,143.695964,8147.939691,5183.942423,4548.240971,2076.921296,4230.548795,4134.589984,2067.132295,4087.049471,2704.327437,2790.476384,5141.106292
Tri1,786.895089,3076.223066,1033.310418,3758.043454,4000.805778,2756.802996,2918.768116,2613.934992,2655.684434,7410.337807,3182.903975,4324.103096,1843.506277,1338.453235,2693.772203,7239.094853,1320.715043,4449.372349,1085.884483,3556.231671
Tri2,3516.902396,4632.818016,4874.066155,3031.377402,2485.677228,4929.841314,435.950399,3059.241733,2923.325600,3530.389021,3002.555229,7537.781867,1989.249165,4513.510928,4473.733040,7422.364759,3338.164717,4840.676786,2721.343095,1972.689272
Tri3,333.881830,104.448476,2304.093856,586.098266,4575.178155,2365.682721,1285.101296,5050.566343,2446.870606,5096.855057,1047.603006,5431.187785,2879.554454,311.319060,2814.385809,3396.500194,1324.780081,1518.991979,1676.395223,2051.924695
Tri4,6790.330061,2629.751046,3148.222058,1894.867975,2274.057485,8186.457041,1195.253881,3747.385847,1456.694541,3437.159878,6745.578676,4101.871682,1944.773775,1571.942134,3186.806328,6588.562378,2866.277989,2079.880840,1086.063139,7051.740732

## Now have a look at the data using built in Padas functionality
* Check out the max/min of each row, standard deviation, percentiles, etc.

In [5]:
desc = df.describe()
print('this prints an abbreviated set of the dataset, there are a lot of columns...')
print(desc)
print()
# print(desc['Sub0'][1])

print('mins of each subject')
print(df.min(axis=0))
print()

# print('standard devs of each subject')
# print(df.std(axis=0))
# print()

this prints an abbreviated set of the dataset, there are a lot of columns...
              Sub0         Sub1         Sub2         Sub3         Sub4  \
count   769.000000   773.000000   769.000000   776.000000   769.000000
mean   3318.389859  2418.379541  2347.414238  3376.579191  2365.807515
std    1576.385327  1310.061010  1237.378386  1562.092638  1244.452972
min      14.891233    14.197194    28.100837   122.466990     4.830230
25%    2219.726697  1400.519066  1406.696629  2166.004958  1388.969163
50%    3295.052460  2251.581043  2302.000113  3381.273549  2275.381919
75%    4397.402598  3409.149895  3182.137849  4503.639440  3213.637140
max    7004.853551  5494.571589  5346.528881  6942.725129  5248.758869

              Sub5         Sub6         Sub7         Sub8         Sub9  \
count   786.000000   769.000000   777.000000   791.000000   762.000000
mean   4425.246718  2419.408803  3365.652979  1524.372136  4206.283794
std    1926.106704  1291.101959  1616.737507   963.515125  1665.158047
min     136.740733    10.661701    18.233925     0.901251   657.532924
25%    3009.244141  1440.737865  2190.514077   775.482490  3028.310572
50%    4304.730115  2336.733395  3225.109585  1439.086824  4145.995220
75%    5724.168371  3305.677185  4475.980197  2153.338521  5361.346854
max    9572.275918  5644.799834  7477.111628  4155.333765  8147.939691

             Sub10        Sub11        Sub12        Sub13        Sub14  \
count   781.000000   783.000000   798.000000   774.000000   762.000000
mean   3317.870108  4446.013562  2572.222337  2433.638890  4243.396284
std    1585.147711  1853.600214  1413.382207  1290.633276  1867.806768
min      26.364155    22.733277    14.216346     4.059415   168.749593
25%    2137.920140  3082.868487  1550.061136  1393.697493  2861.485789
50%    3242.056005  4324.103096  2416.950879  2379.461979  4090.217123
75%    4382.617710  5787.114533  3399.378066  3373.532605  5511.422615
max    6910.201393  9723.934136  7863.872257  5404.024515  8739.663202

             Sub15        Sub16        Sub17        Sub18        Sub19
count   771.000000   761.000000   782.000000   763.000000   770.000000
mean   4418.419046  2289.417774  2489.603646  2352.976119  4353.915867
std    1762.262964  1265.878875  1378.417160  1283.977000  1843.421638
min     694.906040     9.004269     3.313442     7.725184   354.647971
25%    3119.555247  1320.715043  1460.537353  1372.648162  2995.872596
50%    4323.256412  2189.005008  2377.433709  2360.331419  4263.106209
75%    5635.990256  3166.354139  3365.122965  3196.417117  5682.061814
max    8455.686253  5392.527718  7707.825802  5387.471180  8443.105505

mins of each subject
Sub0      14.891233
Sub1      14.197194
Sub2      28.100837
Sub3     122.466990
Sub4       4.830230
Sub5     136.740733
Sub6      10.661701
Sub7      18.233925
Sub8       0.901251
Sub9     657.532924
Sub10     26.364155
Sub11     22.733277
Sub12     14.216346
Sub13      4.059415
Sub14    168.749593
Sub15    694.906040
Sub16      9.004269
Sub17      3.313442
Sub18      7.725184
Sub19    354.647971
dtype: float64

## Are there missing values (NaNs) in the data?

In [6]:
# saving for comparison later
ante_nans = np.sum(np.isnan(df), axis=0)

## What about outliers? Lets define outliers here as > 2 * std away from the mean for each subject
* After you've found the outliers for each subject, replace those values with a np.nan (NaN)

In [7]:
def replace_outliers(df):
    for subject in df:
        # print(subject)
        std_dev = df[subject].std()
        mean = df[subject].mean()
        # print('std dev: ', std_dev)
        # print('std dev * 2: ', std_dev * 2)    
        # print('mean: ', mean)
        # print(range(0, len(df['Sub0'])))
        for i in range(0, len(df[subject])):
            datapoint = df[subject][i]
            # check if value is an outlier, if so replace with NaN
            if np.abs(datapoint - mean) >= (2 * std_dev):
                # print('outlier: ', datapoint)
                df[subject][i] = np.nan
        # print()
        # print()
    return df

def take_samples(df, col, num_samples, sample_size):
    samples = []
    means = pd.Series(index=num_samples)
    confidence_intervals = pd.Series(index=num_samples)
    for i in num_samples:
        samples.append(df[col].sample(n=sample_size, replace=True))
        means[i] = samples[i].mean()
        confidence_intervals[i] = samples[i].quantile(q=0.95)
    return means, confidence_intervals

# finding outliers and replacing them with NaN
df = replace_outliers(df)

print('num of NaNs per column before finding outliers')
print(ante_nans)
print()

print('num of NaNs per column after finding outliers')
print(np.sum(np.isnan(df), axis=0))
print()

print('interpolating data...')
df2 = df.interpolate(method='linear', axis=0)

# print('num of NaNs per column after interpolating')
# print(np.sum(np.isnan(df2), axis=0))
# print()
print()
print('now for each column fill NaNs with the mean...')
df3 = df.fillna(df.mean())

# print('num of NaNs per column after replacing with means')
# print(np.sum(np.isnan(df3), axis=0))
print()

print('desc of original dataframe with outliers replaced with NaNs...')
print(df.describe())
print()
print('desc of dataframe after interpolation')
print(df2.describe())
print()
print('desc of dataframe after filling NaNs with the mean')
print(df3.describe())
print()

# print(df2['Sub11'].sample(n=3, replace=True))
# print()
print('mean of Sub11 before sampling: ')
print(df2['Sub11'].mean())
print('confidence interval of Sub11 before sampling')
print(df2['Sub11'].quantile(q=0.95))
print()

num of NaNs per column before finding outliers
Sub0     31
Sub1     27
Sub2     31
Sub3     24
Sub4     31
Sub5     14
Sub6     31
Sub7     23
Sub8      9
Sub9     38
Sub10    19
Sub11    17
Sub12     2
Sub13    26
Sub14    38
Sub15    29
Sub16    39
Sub17    18
Sub18    37
Sub19    30
dtype: int64

num of NaNs per column after finding outliers
Sub0     68
Sub1     46
Sub2     52
Sub3     48
Sub4     56
Sub5     47
Sub6     48
Sub7     56
Sub8     44
Sub9     62
Sub10    47
Sub11    49
Sub12    35
Sub13    37
Sub14    74
Sub15    43
Sub16    65
Sub17    46
Sub18    52
Sub19    49
dtype: int64

interpolating data...

now for each column fill NaNs with the mean...

desc of original dataframe with outliers replaced with NaNs...
              Sub0         Sub1         Sub2         Sub3         Sub4  \
count   732.000000   754.000000   748.000000   752.000000   744.000000
mean   3273.419521  2346.809087  2272.092382  3331.558695  2276.601789
std    1429.336057  1245.203147  1168.461901  1473.355686  1164.164162
min     175.929307    14.197194    28.100837   274.470762     4.830230
25%    2234.597852  1374.653930  1376.738944  2167.900884  1374.268692
50%    3288.575301  2205.628107  2230.335252  3366.679719  2224.240278
75%    4313.779853  3311.931316  3085.342358  4419.673169  3149.280061
max    6441.184451  4994.919173  4819.897838  6454.598940  4848.945756

              Sub5         Sub6         Sub7         Sub8         Sub9  \
count   753.000000   752.000000   744.000000   756.000000   738.000000
mean   4299.996794  2352.322840  3278.165922  1419.926715  4125.437884
std    1737.185617  1224.790006  1466.788228   850.183047  1556.987832
min     616.958660    10.661701   143.056795     0.901251   999.323007
25%    2994.136865  1419.352163  2189.343019   730.987662  3017.992849
50%    4254.993619  2292.984939  3179.512557  1356.258774  4094.467742
75%    5589.401235  3244.948366  4320.589081  1989.043723  5274.754729
max    8230.284610  4970.830739  6590.608450  3449.772874  7501.741211

             Sub10        Sub11        Sub12        Sub13        Sub14  \
count   753.000000   751.000000   765.000000   763.000000   726.000000
mean   3243.619869  4363.694843  2414.747532  2392.404572  4151.269124
std    1474.990393  1675.111141  1209.848873  1252.949910  1684.157248
min     153.940977   822.302055    14.216346     4.059415   520.904119
25%    2134.088802  3091.044389  1521.796345  1375.171487  2874.084300
50%    3217.567362  4242.313725  2357.218892  2345.957482  4055.150825
75%    4283.915655  5654.531257  3215.469029  3338.145292  5379.084832
max    6477.925666  8137.479963  5361.456779  4991.748983  7978.584030

             Sub15        Sub16        Sub17        Sub18        Sub19
count   757.000000   735.000000   754.000000   748.000000   751.000000
mean   4355.983197  2192.428420  2357.943409  2298.060369  4338.076058
std    1695.895258  1175.853667  1212.189517  1236.011795  1759.572728
min    1008.865978     9.004269     3.313442     7.725184   782.832866
25%    3092.896565  1296.033213  1448.490835  1363.326750  3014.660706
50%    4279.378664  2124.276970  2303.672374  2340.584667  4257.813987
75%    5588.925589  3089.777629  3212.086991  3138.572373  5639.849217
max    7925.028336  4796.284042  5155.599839  4902.466457  8013.681310

desc of dataframe after interpolation
              Sub0         Sub1         Sub2         Sub3         Sub4  \
count   800.000000   800.000000   800.000000   800.000000   800.000000
mean   3260.566829  2356.493987  2255.607175  3328.537714  2267.377860
std    1394.672258  1224.197198  1147.424972  1449.472402  1138.228185
min     175.929307    14.197194    28.100837   274.470762     4.830230
25%    2262.084485  1418.132972  1387.759910  2198.075287  1383.767512
50%    3271.418761  2242.217242  2198.676804  3366.679719  2204.182060
75%    4243.798234  3296.932987  3033.183720  4393.496461  3124.614691
max    6441.184451  4994.919173  4819.897838  6454.598940  4848.945756

              Sub5         Sub6         Sub7         Sub8         Sub9  \
count   800.000000   800.000000   800.000000   800.000000   799.000000
mean   4315.419747  2348.963642  3280.324740  1415.906601  4128.490339
std    1721.829895  1212.064500  1440.632534   835.172422  1520.427522
min     616.958660    10.661701   143.056795     0.901251   999.323007
25%    3012.545104  1435.259256  2238.194629   751.253027  3060.545000
50%    4287.198242  2292.984939  3186.394894  1355.100793  4108.486614
75%    5587.796390  3234.523334  4313.748461  1972.114087  5225.385805
max    8230.284610  4970.830739  6590.608450  3449.772874  7501.741211

             Sub10        Sub11        Sub12        Sub13        Sub14  \
count   800.000000   800.000000   800.000000   800.000000   800.000000
mean   3259.948054  4354.765733  2407.811085  2387.206436  4145.897352
std    1459.326753  1647.447312  1194.663303  1234.377365  1637.191249
min     153.940977   822.302055    14.216346     4.059415   520.904119
25%    2156.019783  3109.884251  1527.161664  1407.384896  2939.865183
50%    3225.917621  4240.659298  2355.895484  2342.268116  4066.641265
75%    4329.128876  5595.449677  3181.021129  3286.715343  5284.442005
max    6477.925666  8137.479963  5361.456779  4991.748983  7978.584030

             Sub15        Sub16        Sub17        Sub18        Sub19
count   800.000000   800.000000   800.000000   800.000000   800.000000
mean   4361.560515  2192.092732  2380.503899  2303.536176  4331.764823
std    1677.878532  1149.471211  1207.819390  1212.575721  1739.331194
min    1008.865978     9.004269     3.313442     7.725184   782.832866
25%    3136.177824  1328.166848  1459.614180  1418.003441  3033.570309
50%    4286.646077  2125.197644  2322.179342  2344.604391  4220.602779
75%    5586.434594  3062.252575  3253.587663  3083.504586  5609.332279
max    7925.028336  4796.284042  5155.599839  4902.466457  8013.681310

desc of dataframe after filling NaNs with the mean
              Sub0         Sub1         Sub2         Sub3         Sub4  \
count   800.000000   800.000000   800.000000   800.000000   800.000000
mean   3273.419521  2346.809087  2272.092382  3331.558695  2276.601789
std    1367.160960  1208.827435  1129.799732  1428.414277  1122.626379
min     175.929307    14.197194    28.100837   274.470762     4.830230
25%    2320.740827  1453.328596  1444.344991  2232.598395  1414.713909
50%    3273.419521  2332.504240  2272.092382  3331.558695  2276.601789
75%    4195.613439  3233.865821  3023.408795  4351.754440  3087.371788
max    6441.184451  4994.919173  4819.897838  6454.598940  4848.945756

              Sub5         Sub6         Sub7         Sub8         Sub9  \
count   800.000000   800.000000   800.000000   800.000000   800.000000
mean   4299.996794  2352.322840  3278.165922  1419.926715  4125.437884
std    1685.317597  1187.430536  1414.452713   826.442279  1495.359358
min     616.958660    10.661701   143.056795     0.901251   999.323007
25%    3071.905644  1463.653167  2298.583655   779.562818  3092.184661
50%    4299.996794  2352.322840  3278.165922  1419.926715  4125.437884
75%    5528.398844  3168.164569  4233.636810  1948.613826  5098.410342
max    8230.284610  4970.830739  6590.608450  3449.772874  7501.741211

             Sub10        Sub11        Sub12        Sub13        Sub14  \
count   800.000000   800.000000   800.000000   800.000000   800.000000
mean   3243.619869  4363.694843  2414.747532  2392.404572  4151.269124
std    1430.950868  1622.934039  1183.053580  1223.595314  1604.272919
min     153.940977   822.302055    14.216346     4.059415   520.904119
25%    2173.806357  3199.519330  1555.690051  1416.830251  3034.999900
50%    3243.619869  4363.694843  2414.747532  2392.404572  4151.269124
75%    4211.693662  5533.554637  3159.100027  3270.635011  5230.122478
max    6477.925666  8137.479963  5361.456779  4991.748983  7978.584030

             Sub15        Sub16        Sub17        Sub18        Sub19
count   800.000000   800.000000   800.000000   800.000000   800.000000
mean   4355.983197  2192.428420  2357.943409  2298.060369  4338.076058
std    1649.629954  1127.010385  1176.778221  1195.114529  1704.764779
min    1008.865978     9.004269     3.313442     7.725184   782.832866
25%    3195.139071  1388.524601  1475.395307  1440.392342  3067.996539
50%    4355.983197  2192.428420  2357.943409  2298.060369  4338.076058
75%    5523.505564  2977.765061  3076.520776  3031.750966  5562.784641
max    7925.028336  4796.284042  5155.599839  4902.466457  8013.681310

mean of Sub11 before sampling:
4354.765733443813
confidence interval of Sub11 before sampling
7333.419906064671

## After you've found the outliers and replaced with NaNs for each subject, check out this function:
[pandas.DataFrame.interpolate](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.interpolate.html#pandas.DataFrame.interpolate)

* Use this function to interpolate the missing values for each subject (do not interpolate across subjects!)
* Just use linear interpolation...

In [8]:
# using dataframe with interpolated data
means, confidence_intervals = take_samples(df2, 'Sub11', range(0, 15), 800)
print('distribution of means:')
print(means)
print()
print('95% confidence intervals: ')
print(confidence_intervals)

distribution of means:
0     4344.978844
1     4385.806132
2     4445.145007
3     4312.395166
4     4337.594953
5     4341.361560
6     4427.973321
7     4358.239007
8     4323.167050
9     4289.366916
10    4306.230214
11    4331.777024
12    4234.094535
13    4315.900230
14    4364.375916
dtype: float64

95% confidence intervals:
0     7131.972262
1     7296.342419
2     7371.410256
3     7136.592165
4     7304.959367
5     7371.410256
6     7420.361845
7     7521.241769
8     7536.487685
9     6926.081029
10    7333.419906
11    7291.651535
12    6924.385782
13    7374.059306
14    7023.752221
dtype: float64

## You can explore the "Missing Values" page for Pandas to figure out other ways of filling in missing values and outliers

[page is here](https://pandas.pydata.org/pandas-docs/stable/missing_data.html#missing-data)

* Figure out how to replace the outliers with the mean of each subject

## Use the Pandas.DataFrame.Sample function to generate bootstrapped confidence intervals for the data from subject 11

[see this page for Samples](https://pandas.pydata.org/pandas-docs/version/0.22/generated/pandas.DataFrame.sample.html)


* Resample Sub11's data with replacement, each time pulling N samples (800 in this case)
* Generate a distribution of means across all resamples
* Compute 95% confidence intervals using:

[this page for quantiles](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.quantile.html)